{% extends "public_layout.html.twig" %}

	 {% block title %}Souscription{% endblock %}


 {% block content %}



<section class="section section-tertiary section-no-border pb-md mt-none">
					<div class="container">
						<div class="row mt-xl">
							<div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
								<h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Formulaire de souscription</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row pt-xl mb-xl">
						<div class="col-md-4">

							<h4 class="text-color-dark mb-xs pb-md">Information complémentaire</h4>
							<ul class="list list-icons list-primary ">
								<li><i class="fa fa-credit-card"></i> <strong>Carte bancaire SCIMAP </strong> </li>
								
							</ul>
								
						Immobilier délivrée dès paiement de 
						l’apport initial ou l’achat d’un kit prépayé.Ce kit comprend :

							<ul class="list-unstyled ">
								<li><i class="fa fa-square"></i> Expertise du terrain  </li>
								<li><i class="fa fa-square"></i> Production du plan en 3D </li>
								<li><i class="fa fa-square"></i> Enregistrement de vos dossiers chez notre notaire partenaire</li>
								
							</ul>
				<ul class="list list-icons list-primary ">
					<li><i class="fa fa-money"></i> <strong>Modes de payements </strong> </li>
					
				</ul>

Toujours à la recherche du meilleur 
résultat final pour nos clients, SCIMAP 
Immobilier vous offre des produits immobiliers taillés selon vos aspirations. 
Des logements sociaux, aux hauts 
standings en passant par les moyens 
standings, nous bâtissons pour vous 
et sur votre terrain un logement selon votre goût à des tarifs étudiés et 
à des modes de payements souples.<br> 
Après le droit de souscription et 
le devis définitif de votre nouvelle habitation nous vous demandons :

		<ul>
			<li>Un apport initial de 20% </li>
			<li>Pour le solde, un ordre de payement permanent (OVP) souple et adapté à vos besoins financiers sur une période d’au plus 7ans pour nous permettre de vous livrer en un an votre maison</li>
			<li>La souscription d’un contrat décès-emprunteur couvrant le solde à payer sur la durée convenue de paiement</li>
			
		</ul>

<div class="testimonial testimonial-style-2 mb-none">
	<blockquote>
		<p>NB: le début de vos travaux de construction prend forme seulement après 
le payement total de l’apport initial.</p>
	</blockquote>
	
</div>
						

						</div>
						<div class="col-md-8">
 {% block form %} 

 {% endblock %}
							

							
							

						</div>
						
					</div>

				</div>
			</div>
 {% endblock %}