{% extends "public_layout.html.twig" %}

	 {% block title %}Videos{% endblock %}


 {% block content %}
  <section class="section section-tertiary section-no-border pb-md mt-none">
					<div class="container">
						<div class="row mt-xl">
							<div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
								<h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Videos</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row mb-xl">
						<div class="col-md-6">
							<div class="recent-posts mt-xl mb-xl">
								
								<div class="embed-responsive embed-responsive-4by3">

								  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lnePUB3v2lQ" frameborder="0" allowfullscreen></iframe>
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="recent-posts mt-xl mb-xl">
								<div class="embed-responsive embed-responsive-4by3">
								  
								  <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/9Cb6oRsgRPc" frameborder="0" allowfullscreen></iframe>
								</div>
								
							</div>
						</div>
					</div>

				</div>

 {% endblock %}